<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>EventosApp</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style/styleCss.css" />
<style>

  * {
            margin: 0;
            padding: 0;
        }

 body {
            background: #f2f2f2;
            margin: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
        }

   .container {
            max-width: 1000px;
            margin: 0 auto;
            border: 1px solid #ececec;
            border-radius: 5px;
            padding: 30px;
            box-shadow: 0px 0px 10px #0000000f;
            background: #fff;
        }

</style>
	
	
</head>

<body >

	<header>
		<nav class="menu">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Home</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/cadastrarEvento">Cadastrar Evento</a></li>
					<li><a href="/eventos">Eventos Cadastrados</a></li>
					<!-- <li><a href="#">JavaScript</a></li> -->
				</ul>
			</div>
		</nav>
	</header>


	</br>
	</br>
		<div class="container">
			<h5 class="subtitulo">Lista de Eventos</h5>
			<p>Teste de tela para Home!</p>
		<div>
		</br>


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>


</body>

</html>